<h1>Cadastrar Cartões</h1>

<a href="/usuarios/{{usuario.id}}/novoCartao">Cadastrar Cartão</a>
<table border="1">
    <tr>
        <th>Número</th>
        <th>Nome</th>
        <th>Cod de segurança</th>
    </tr>
    {{#each cartoes}}
    <tr>
        <td>{{this.numero}}</td>
        <td>{{this.nome}}</td>
        <td>{{this.codSeguranca}}</td>
        
    </tr>
    {{/each}}
</table>

<style>
      table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }
    
    th, td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
    
    th {
        background-color: #f2f2f2;
    }
    
    tr:nth-child(even) {
        background-color: #f9f9f9;
    }
    
    /* Estilos para cabeçalho e rodapé da tabela */
    .table-header {
        font-weight: bold;
        font-size: 18px;
        text-align: center;
        background-color: #4CAF50;
        color: white;
        padding: 10px;
    }
    
    .table-footer {
        font-weight: bold;
        text-align: right;
        padding: 10px;
    }
</style>