<h1>Cadastrar Cartões</h1>

<a href="/usuarios/{{usuario.id}}/novoCartao">Cadastrar Cartão</a>
<table border="1">
    <tr>
        <th>Número</th>
        <th>Nome</th>
        <th>Cod de segurança</th>
    </tr>
    {{#each cartoes}}
    <tr>
        <td>{{this.numero}}</td>
        <td>{{this.nome}}</td>
        <td>{{this.codSeguranca}}</td>
        
    </tr>
    {{/each}}
</table>