<h1>Cadastrar Cartões</h1>

<a href="/jogo/{{jogo.id}}/novaConquista">Cadastrar Conquista</a>
<table border="1">
    <tr>
        <th>Nome do Jogador</th>
        <th>Nome da Conquista</th>
        
    </tr>
    {{#each conquista}}
    <tr>
        <td>{{this. nomeJogador}}</td>
        <td>{{this.conquistaAdq}}</td>
    </tr>
    {{/each}}
</table>

<style>
    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }
    
    th, td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
    
    th {
        background-color: #f2f2f2;
    }
    
    tr:nth-child(even) {
        background-color: #f9f9f9;
    }
    
    /* Estilos para cabeçalho e rodapé da tabela */
    .table-header {
        font-weight: bold;
        font-size: 18px;
        text-align: center;
        background-color: #4CAF50;
        color: white;
        padding: 10px;
    }
    
    .table-footer {
        font-weight: bold;
        text-align: right;
        padding: 10px;
    }
</style>